/*
font info:
    family - Helvetica, Arial, sans-serif
    line-height - 1.6


colors:
    light gray - ##eee
    gray - #dddddd
    yellow - #ffd24a
    orange - #ff8523
    blue - #1fabe5
    dark blue - #046c97
*/
body {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.6;
}

#site_header {
  background-color: #ff8523;
  padding:10px;
}

#main_navigation {}

nav>a[href] {
  color: #eeeeee;
  border-style: solid;
  border-radius: 3px;
  border-width: thin;
  text-decoration: none;
  font-size: 0.8em;
  padding: 2px;
}

/* Set the headers to pretty blue */

h2, h3 {
  color: #1fabe5
}

/* This makes the horizontal gray lines */

section {
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: #dddddd;
}

/* table borders */
table {
    border-collapse: collapse;
}
table, td, tr {
   border: 1px solid #046c97;
}
/* table header background */

td {
    text-align:center;
    vertical-align:middle;
  }
thead {
    color: #eeeeee;
    background-color: #1fabe5;
    text-align: left;
  }
td:nth-of-type(1) {
  width: 20%;
  height: 30px;
}
td:nth-of-type(2) {
  width: 5%;
  height: 30px;
}
td:nth-of-type(3) {
  width: 10%;
  height: 30px;
}
td:nth-of-type(4) {
  width: 10%;
  height: 30px;
}
td:nth-of-type(5) {
  width: 30%;
  height: 30px;
}
td>img {
width: 50%;
height: auto;
}

form {
  background-color: #dddddd;
  padding:15px;
}

.name {
  color: #eeeeee;
  background-color: #ff8523;
  padding:10px;
}
.city_container {
  padding-top: 15px;
  padding-bottom: 15px;
}
#submit_button {
  background-color: #1fabe5;
  padding:5px;
}
